body {
  background-color: #141414;
  color: #ffffff;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;

  margin-left:10%;
  margin-right:10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

img {
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
  
  
  /* nearest neighbor css code from: https://stackoverflow.com/a/8639750 */
}